.d-flex {
    display: flex;
}

body {
    background-color: #F8F9FA;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 250px;
    width: 800px;
    height: 150px;
    text-decoration: none;
}

#nav {
    display: flex;
    justify-content: space-around;
    width: 950px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    text-decoration: none;
}

.logo {
    display: flex;
    margin-top: -180px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    
}

#logo1 {
    display: flex;
    border-radius: 20px;
}

.parent-container {
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    width: 35%;
    border-radius: 15px;
}

ul li {
    list-style: none;
}

#todo-list {
    margin: 5px 0 10px 0;
}

.todo {
    flex-direction: row;
    width: fit-content;
    align-items: center;
    margin: 1em 0 0.5em 0;
}

form {
    flex-direction: column;
    width: fit-content;
}

span {
    margin-left: 5px;
}

#search {
    border-radius: 5px;
    border: 1px solid silver;
    margin: 8px 0 15px 30px;
    align-items: center;
    padding: 8px;
}

.input {
    padding: 0.7em;
    border-radius: 5px;
    border: 1px solid silver;
    margin: 1em 5px 0 0;
}

#ajout {
    padding: 0.7em;
}

button {
    background-color: #4786F5;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: fit-content;
    margin-top: 1em;
}

button:hover {
    cursor: pointer;
}

#list-unstyled {
    list-style: none;
}

.empty-array-text {
    margin-bottom: 2em;
}

#all-tasks-h2 {
    margin: 2em 0 0.5em 0;
}

#all-tasks label:has(input:checked) { /*si label a son input coché alors {...} */
    text-decoration: line-through;
}

#completed-tasks-h2 {
    margin: 2em 0 0.5em 0;
}

#completed-tasks {
    margin-bottom: 2em;
}

hr {
    margin: 2em 0 1em 0;
    width: 30em;
}

/********
ICONES
********/

i {
    padding: 0 0 5px 3.5px; /*top right bottom left*/
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
    color: #303030;
}

.fa-pen {
    color: black;
    background-color: #fff;
    margin: 0 0.2em 0 0.5em;
    padding: 0.4em;
}

.fa-trash {
    color: black;
    background-color: #fff;
    margin: 0 2em 0 0;
    padding: 0.4em;
}

.fa-pen:hover {
    color: white;
    background-color: midnightblue;
    padding: 0.4em;
    border-radius: 0.3em;
    cursor: pointer;
}

.fa-trash:hover {
    color: white;
    background-color: firebrick;
    padding: 0.4em;
    border-radius: 0.3em;
    cursor: pointer;
}

/***********************
PRIORITES ET CATEGORIES
***********************/

.high {
    color: red;
}

.normal {
    color: forestgreen;
}

.low {
    color: blue;
}

.none {
    color: black;
}


/* Categories */

.work, .studies, .food, .urgent, .personnal, .house, .hygiene, .hobbies, .other, .noCategory {
    color: silver;
}